<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<title>Xkyler Chat</title>
	<!-- stylesheets -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/chat.css">
</head>
<body>
	<div class="container-fluid">
		<!-- Top Navbar -->
		<header class="topbar">
			<div class="action col-sm-3">
				<a href="#"><i class="fa fa-times"></i></a>
				<a href="#"><i class="fa fa-minus"></i></a>
				<a href="#"><i class="fa fa-plus"></i></a>
			</div>
			<div class="header-title col-sm-7">
				<h1 class="title"><a href="/">Xkyler</a></h1>
			</div>
			<nav class="menu col-sm-2">
				<a href="#"><i class="fa fa-search"></i></a>
				<a href="#"><i class="fa fa-th"></i></a>
				<a href="#"><i class="fa fa-cog"></i></a>
				<a href="#" class="dropdown">Team mate <i class="fa fa-caret-down"></i></a>
			</nav>
		</header>
		<div class="app row clearfix">
			<!-- Left sidebar  -->
			<div class="col-sm-3">
				<div class="row">
					<div class="sidebar">
						<div class="search clearfix">
							<form action="#">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
									<input type="text" class="form-control" placeholder="Search...">
									<button class="btn btn-default write"><i class="fa fa-pencil-square-o"></i></button>
								</div>
							</form>

						</div>
						<!-- Searched or available users -->
						<div class="users">


							<div class="user">
								<input type="hidden" id="userId" value="" />
								<div class="info-pane">
									<div class="pic">
										<img src="<%= foundUser.profile.picture %>" alt="user">
									</div>
									<div class="info">
										<p class="name"><%= foundUser.profile.name %><i class="fa fa-circle online"></i></p>
										<div class="time">
											<!-- <small>Thu</small> <br> -->
											<!-- <span class="badge pull-right">2</span> -->
										</div>
										<p class="activity unread typing"></p>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>

			<!-- right pane -->
			<div class="col-sm-7">
				<div class="row">
					<div class="chatbox">
						<div class="chat-msgs clearfix" id="chatMsgs">

							<p class="to">To: <span id="recipient"></span></p>

							<% if (room !== null) { %>
							<% room.messages.forEach(function(message) { %>
							<% if (String(user._id) === String(message.creator._id)) {  %>

							<div class="message right">
								<span class="pic"><img src="<%= user.profile.picture %>" alt="user"></span>
								<div class="bubble right">
									<p><%= message.message %></p>
									<small class="time">12:03<i class="material-icons sent">done_all</i></small>
								</div>
							</div>

							<% } else { %>

							<div class="message left">
								<span class="pic"><img src="<%= foundUser.profile.picture %>" alt="user"></span>
								<div class="bubble left">
									<p><%= message.message %></p>
									<small class="time">12:03<i class="material-icons sent">done_all</i></small>
								</div>
							</div>

							<% } %>

							<% })%>
							<% } %>



						</div>


						<!-- Message - compose field -->
						<div class="compose">
							<input type="hidden" id="targetedUser" value="<%= foundUser._id %>" />
							<input type="hidden" id="username" value="<%= user.profile.name %>" />
							<form action="#" id="sendMessage" class="form-group">

								<div class="input-group">
									<a href="#" class="input-group-addon"><i class="fa fa-plus"></i></a>
									<input type="text" id="message" class="form-control typing-message" placeholder="Type something...">
									<a href="#" class="input-group-addon"><i class="fa fa-smile-o"></i></a>
									<input id="send" type="submit" class="form-control" value="Send">
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- Right sidebar -->
			<div class="col-sm-2">
				<div class="row">
					<div class="sidebar right">
						<div class="overlay">
							<div class="profile">
								<div class="pic">
									<img src="<%= user.profile.picture %>" alt="" class="center-block img-responsive">
								</div>
								<div class="info">
									<h3 class="title name"><%= user.profile.name %></h3>
									<h5 class="location"><a href="#"><i class="fa fa-map-marker"></i> Porth, Australia</a></h5>
									<p class="bio">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis inventore nulla maiores dicta odio quisquam consequuntur, laborum.
									</p>
								</div>
								<div class="cta">
									<button:button class="btn btn-green">Say Hello</button:button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



	<!-- scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/socket/io.js"></script>
	<script type="text/javascript">
		$('#chatMsgs').scrollTop($('#chatMsgs')[0].scrollHeight);
	</script>


</body>
</html>
